.sched_container {
    position: absolute;
    background-color: white;
    width: 50%;
    height: 85%;
    margin-left: 1%;
    border-radius: 20px;
}

.sched_header {
    display: flex;
    flex-direction : row;
    margin-top: 3%; 
    width: 100%;
    position: relative;
}

.date_filter {
    display: flex;
    flex-direction: row;
    background-color: rgba(218, 215, 205, 0.2);
    border-radius: 40px;
    gap: 10px;
    width: 35%;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3%;
}

.weekday_container {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
   row-gap: 10px;
   overflow-y: scroll;
}

.item1 {
    
}

.cell {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    margin-left: -15%;
}

