.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 20px;
    white-space: nowrap;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

.container p {
    flex-shrink: 0;
}

.container p:hover {
    color: rgb(100, 156, 251);
}

.divider {
    width: 1.5px;
    height: 24px;
    background-color: gray;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: lightgrey;
    margin-top: .90%;
}

.endnav{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 13%;
    right: 7%;
    gap: 20px;
}

.endnav div {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.2);
}

.endnav div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endnav div div:hover {
    cursor: pointer;
}

.avi_container {
    margin-top: -8%;
}

.avi_container:hover {
    cursor: pointer;
}

