@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    background-color: rgba(218, 215, 205, 0.2);
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 300;
}